/** Color definitions **/
:root {
  /* Red */
  --red-h: 0;
  --red-s: 100%;
  --red-l: 50%;

  --red-100: hsl(var(--red-h), var(--red-s), var(--red-l));
  --red-90: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.9));
  --red-80: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.8));
  --red-70: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.7));
  --red-60: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.6));
  --red-50: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.5));
  --red-40: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.4));
  --red-30: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.3));
  --red-20: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.2));
  --red-10: hsl(var(--red-h), var(--red-s), calc(var(--red-l) * 0.1));

  /* Green */
  --green-h: 120;
  --green-s: 100%;
  --green-l: 25%;

  --green-100: hsl(var(--green-h), var(--green-s), var(--green-l));
  --green-90: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.9));
  --green-80: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.8));
  --green-70: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.7));
  --green-60: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.6));
  --green-50: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.5));
  --green-40: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.4));
  --green-30: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.3));
  --green-20: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.2));
  --green-10: hsl(var(--green-h), var(--green-s), calc(var(--green-l) * 0.1));

  /* Cyan */
  --cyan-h: 180;
  --cyan-s: 100%;
  --cyan-l: 27%;

  --cyan-100: hsl(var(--cyan-h), var(--cyan-s), var(--cyan-l));
  --cyan-90: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.9));
  --cyan-80: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.8));
  --cyan-70: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.7));
  --cyan-60: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.6));
  --cyan-50: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.5));
  --cyan-40: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.4));
  --cyan-30: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.3));
  --cyan-20: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.2));
  --cyan-10: hsl(var(--cyan-h), var(--cyan-s), calc(var(--cyan-l) * 0.1));
}

* {
  font-family: "Exo 2", sans-serif;
  color: #f1f1f1;
}

button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: var(--cyan-100);
  border: 2px solid var(--cyan-80);
  border-radius: 5px;
}

button:hover {
  background-color: var(--cyan-80);
  border: 2px solid var(--cyan-60);

  cursor: pointer;
}

button:active {
  background-color: var(--cyan-60);
  border: 2px solid var(--cyan-40);
}

button.confirm {
  background-color: var(--green-100);
  border: 2px solid var(--green-80);
  border-radius: 5px;
}

button.confirm:hover {
  background-color: var(--green-80);
  border: 2px solid var(--green-60);
}

button.confirm:active {
  background-color: var(--green-60);
  border: 2px solid var(--green-40);
}

button.cancel {
  background-color: var(--red-100);
  border: 2px solid var(--red-80);
  border-radius: 5px;
}

button.cancel:hover {
  background-color: var(--red-80);
  border: 2px solid var(--red-60);
}

button.cancel:active {
  background-color: var(--red-60);
  border: 2px solid var(--red-40);
}

menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #111;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px minmax(0, 1fr) 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;

  min-width: 0;
  padding: 0 10px;
  background-color: #2e2c5e;
  border-bottom: 2px solid #2e2c5e;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

header .logo {
  width: 40px;
  height: 40px;
}

header .title {
  font-size: 30px;
  font-weight: normal;
  white-space: nowrap;
}

header form {
  border: 2px solid #111;
  padding: 5px;
  background-color: #eee;
  border-radius: 10px;
  width: 500px;
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 1;
}

header form * {
  color: #111;
  font-size: 16px;
}

header form:focus-within {
  outline: 2px solid #217ebd;
}

header form .searchIcon {
  width: 25px;
  height: 25px;
}

header form input {
  border: none;
  background-color: transparent;
  flex: 1 1 auto;
}

header form input:focus {
  outline: none;
}

main {
  grid-area: main;
  min-height: 0;
  height: 100%;

  margin: 0 auto;
  max-width: 1280px;
  min-height: 0;
}

.layout {
  background-color: #111;
  min-height: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 260px;
  grid-template-rows: 50px minmax(0, 1fr);
  grid-template-areas:
    "game-title skin-title prev-title"
    "game-list  skin-list  preview   ";
}

.layout .subtitle {
  font-size: 20px;
  background-color: #454088;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.layout .game-list-title {
  grid-area: game-title;
}

.layout .skins-list-title {
  grid-area: skin-title;
  border-left: 2px solid #2e2c5e;
  border-right: 2px solid #2e2c5e;
}

.layout .preview-title {
  grid-area: prev-title;
}

.layout .game-list {
  grid-area: game-list;
  overflow-y: auto;
  overflow-x: hidden;
}

.game-list li {
  padding: 10px;
}

.game-list li:nth-child(odd) {
  background-color: #111;
}

.game-list li:nth-child(even) {
  background-color: #222;
}

.game-list li:hover {
  background-color: #333;
  cursor: pointer;
}

.game-list li.selected {
  background-color: #3498db;
}

.game-list li.selected:hover {
  background-color: #217ebd;
}

.layout .game-list-loading {
  grid-area: game-list;
}

.layout .skin-list {
  grid-area: skin-list;
  border-left: 2px solid #1e1e1e;
  border-right: 2px solid #1e1e1e;

  overflow-y: auto;
}

.skin-list li {
  padding: 10px;
  display: grid;
  gap: 5px;

  white-space: nowrap;
}

.skin-list li:nth-child(odd) {
  background-color: #111;
}

.skin-list li:nth-child(even) {
  background-color: #222;
}

.skin-list li:hover {
  background-color: #333;
  cursor: pointer;
}

.skin-list .name-and-skin {
  display: flex;
  width: 100%;
  min-width: 0;
  align-items: center;
  gap: 5px;
}

.skin-list .more-info {
  display: flex;
  width: 100%;
  min-width: 0;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.skin-list .name {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;

  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
}

.skin-list .name:empty::before {
  content: "Unnamed skin";
  color: gray;
}

.skin-list .author {
  font-style: italic;
  margin-right: auto;

  overflow: hidden;
  text-overflow: ellipsis;
}

.skin-list img {
  height: 24px;
  width: 216px;
  flex: 0 0 auto;
}

.skin-list .author:before {
  content: "by ";
}

.skin-list .author:empty::before {
  content: "by an unknown author";
  color: gray;
}

.skin-list .badge {
  background-color: #000b;
  height: 20px;
  border-radius: 10px;
  font-size: 12px;
  padding: 0 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.skin-list .size::before {
  content: "Size: ";
}

.skin-list .size::after {
  content: " px";
}

.layout .preview {
  grid-area: preview;
  background-color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  background-color: #1e1e1e;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding: 0 10px;
}
